.home-banner {
  background-image: url('https://images.unsplash.com/photo-1590523815031-8a4c011eae39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  height: 100vh;
  color: #000;
  text-align: center;
  padding-top: 40vh;
}